{% load staticfiles %}
        <link rel="icon" href="{{ team.logo.url }}">
        <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'team/css/touchTouch.css' %}" type="text/css" media="all" />
		<link href="{% static 'team/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'team/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="soccer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script type="text/javascript" src="{% static 'team/js/jquery.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'team/js/jquery.fancybox.js' %}"></script>
	   <script type="text/javascript">
			$(document).ready(function() {
				$('.fancybox').fancybox();
			});
		</script>


<head>
	<title>{{ team.team_name }} Squad </title>
</head>

<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="logo">
			   <h1><a href="{% url 'home:index' %}">SPORTS LEAGUE</a></h1>
		 </div>
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
				  <li class="active"><a href="{% url 'home:index' %}">HOME</a></li>
				 <li><a href="{% url 'team:insti' %}">INSTITUTIONAL</a></li>
				 <li><a href="{% url 'matches:fixtures' %}">FIXTURES</a></li>
				 <li><a href="{% url 'matches:index' %}">RESULTS</a></li>
				 <li ><a href="{% url 'home:index' %}">BROADCAST</a></li>
				 <li><a href="{% url 'team:contact' %}">CONTACT US</a></li>
			 </ul>
		 </div>
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
	 <div class="container">
	 <div class="search">
		    <form>
		    	<input type="text" value="" placeholder="Search...">
				<input type="submit" value="">
			</form>
     </div>
	 <div class="social">
			 <a href="#"><i class="fa fa-lg fa-facebook"></i></a>
			 <a href="#"><i class="fa fa-lg fa-twitter"></i></a>

			 <a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
			 <a href="#"><i class="fa fa-lg fa-youtube"></i></a>
	 </div>
		<div class="clearfix"></div>
		</div>
</div>
<!-- banner -->
<!-- //header -->
<div class="about">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li class="active">Institutional</li>
		 </ol>
		 <h2>About</h2>
		 <div class="about-head">
			 <p><b>Find out more about how the Sports League is organised</b><br>

The Sports League is the organising body of the Sports League with responsibility for the competition, its Rule Book and the centralised broadcast and other commercial rights.</p>
		 </div>
		 <div class="about-grids">
			 <div class="about-grid">
				 <h3>WHO WE ARE</h3>
				 <p class="abt-info">The Sports League is an Proffesional Football League for men's association Football.
				The Sports League is a corporation in which the 8 member clubs act as shareholders. In this league each member club has to play against
				all other member clubs twice.One match will played in the member club's home match and the other will be an away match
				There will be a total of 112 matches per season</p>
				 <p>It is going to be the 12th season in Sports League.Last year FC barcelona won the Sports League.Real madrid C.F holds the
				 record for winning most number of titles<br>
				Most number of titles:Real Madrid C.F(5 Titles)  </p>
				 <a href="#">Read More..</a>
			</div>
			 <div class="about-pic">
				 <img src="{% static 'team/images/barca-4.jpg' %}" alt=""/>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="abt_text">
				<div class="col-md-4 values">
					 <h3>Top teams </h3>
					 <div class="value-grd">
						 <span>01.</span>
						 <h4>REAL MADRID C.F</h4>
						 <p>A team based on Northern Madrid which prefers to play counter attacking football</p>
					 </div>
					 <div class="value-grd">
						 <span>02.</span>
						 <h4>FC BARCELONA</h4>
						 <p>A team based on Barcelona which prefers to play possesion bsed football</p>
					 </div>
					 <div class="value-grd">
						 <span>03.</span>
						 <h4>ATLETICO MADRID</h4>
						 <p>A team based on southern madrid which prefers to defend deep and attack on counters.</p>
					 </div>
				</div>
					<div class="abt_text">
							<div class="col-md-4 values">
					 		<h3>Top Players</h3>
					 <div class="value-grd">
						 <span>01.</span>
						 <h4>Cristiano Ronaldo</h4>
						 <p>A player from Portugal who plays for Real Madrid C.F as a left winger</p>
					 </div>
					 <div class="value-grd">
						 <span>02.</span>
						 <h4>Lionel Messi</h4>
						 <p>A player from Argentina who plays as a right winger for FC Barcelona</p>
					 </div>
					 <div class="value-grd">
						 <span>03.</span>
						 <h4>LUIS SUAREZ</h4>
						 <p>A player from Uruguay who plays for FC Barcelona as a Striker</p>
					 </div>
				</div>

				</div>
				<div class="col-md-4 testi">
					 <h3>QUOTES</h3>
				     <p>To me, football is so much about mental toughness, it's digging deep, it's doing whatever you need to do to help a team win and that comes in a lot of shapes and forms</p>
					 <a href="#">TOM BRADY</a>
					 <p>I've never been a fan of individual awards because football is such a team sport. There's so many things that goes into making plays. It's about teammates trusting one another and working together.</p>
					 <a href="#"> TROY POLAMALU</a>
					 <p>Football fans share a universal language that cuts across many cultures and many personality types. A serious football fan is never alone. We are legion, and football is often the only thing we have in common</p>
					 <a href="#">HUNTER S. THOMPSON</a>
				</div>
				<div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--footer-->
<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			<span></span>
			 <p>© 2016 All Rights Reseverd Design by Navy Corp</p>
		 </div>
		 <div class="footer-menu">
			 <ul>
				 <li><a href="{% url 'home:index' %}">HOME</a></li>
				 <li><a href="{% url 'team:insti' %}">INSTITUTIONAL</a></li>
				 <li><a href="{% url 'home:index' %}">FIXTURES</a></li>
				 <li><a href="{% url 'matches:index' %}">RESULTS</a></li>
				 <li class="active"><a href="{% url 'home:index' %}l">BROADCAST</a></li>
				 <li><a href="{% url 'team:contact' %}">CONTACT US</a></li>
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //footer -->
</body>


