{% load staticfiles %}
        <link rel="icon" href="{{ team.logo.url }}">
        <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'team/css/touchTouch.css' %}" type="text/css" media="all" />
		<link href="{% static 'team/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'team/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="soccer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script type="text/javascript" src="{% static 'team/js/jquery.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'team/js/jquery.fancybox.js' %}"></script>
	   <script type="text/javascript">
			$(document).ready(function() {
				$('.fancybox').fancybox();
			});
		</script>


<head>
	<title>{{ team.team_name }} Squad </title>
</head>

<body>
<!-- header -->
<div class="header">
	 <div class="container">
		 <div class="logo">
			   <h1><a href="{% url 'home:index' %}">SPORTS LEAGUE</a></h1>
		 </div>
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
				  <li class="active"><a href="{% url 'home:index' %}">HOME</a></li>
				 <li><a href="{% url 'team:insti' %}">INSTITUTIONAL</a></li>
				 <li><a href="{% url 'matches:fixtures' %}">FIXTURES</a></li>
				 <li><a href="{% url 'matches:index' %}">RESULTS</a></li>
				 <li ><a href="{% url 'home:index' %}">BROADCAST</a></li>
				 <li><a href="{% url 'team:contact' %}">CONTACT US</a></li>
			 </ul>
		 </div>
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
	 <div class="container">
	 <div class="search">
		    <form>
		    	<input type="text" value="" placeholder="Search...">
				<input type="submit" value="">
			</form>
     </div>
	 <div class="social">
			 <a href="#"><i class="fa fa-lg fa-facebook"></i></a>
			 <a href="#"><i class="fa fa-lg fa-twitter"></i></a>

			 <a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
			 <a href="#"><i class="fa fa-lg fa-youtube"></i></a>
	 </div>
		<div class="clearfix"></div>
		</div>
</div>
<!-- banner -->
<!-- //header -->
<div class="container">
		 <ol class="breadcrumb">
		  <li><a href="{% url 'home:index' %}">Home</a></li>
		  <li><a href="{% url 'team:index' %}">Team</a></li>
             <li><a href="/team/{{ team.id }}">{{ team.team_name }}</a></li>
             <li class="active">{{ player.player_name }}</li>
		 </ol>
</div>

<div class="gallery-text">
		 <div class="container">
		 <h2>{{ player.player_name }}</h2>
		 <h3>Stats</h3>
		 </div>
</div>
<div class="container">
		 <div class="main" >
		 <div class="gallery" >
             <div style="float: left">
                        <img src='{{ player.player_image.url }}'  class=" " alt="" style="margin-left: 100px"><br>
                 </div>
                        <div class="navbar-text text-left " style="float: left ;font-size: xx-large;margin-left: 100px" ><b>{{ player.player_name }}</b><br>
                        <div style="font-size: xx-large">
                            <b>Team</b>  &emsp;&emsp;&emsp;&emsp;: &emsp;{{ player.team }} <br>
                            <b>Role</b>  &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;: &emsp;{{ player.Role }}<br>
                            <b>DOB</b>  &emsp;&emsp;&emsp;&emsp;&nbsp;: &emsp;{{ player.DOB }} <br>
                            <b>Ratings</b> &emsp;&emsp;&emsp;&nbsp;: &emsp;{{ player.Rating }}<br>
                            <b>Goals</b>  &emsp;&emsp;&emsp;&emsp;: &emsp;{{ player.goals }} <br>
                            <b>Assists</b>  &emsp;&emsp;&emsp;&nbsp;&nbsp;: &emsp;{{ player.assists }} <br>
                            <b>Yellow Cards</b>  &nbsp;&nbsp;&nbsp;&nbsp;: &emsp;{{ player.yellow_card }} <br>
                            <b>Red Cards</b>  &emsp;&emsp;: &emsp;{{ player.red_card }} <br>
                        <br>
                            </div>
                        </div>

			 <div class="clearfix"> </div>
		  </div>
         </div>
</div>
<!--footer-->
<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			<span></span>
			 <p>© 2016 All Rights Reseverd Design by Navy Corp</p>
		 </div>
		 <div class="footer-menu">
			 <ul>
				 <li><a href="{% url 'home:index' %}">HOME</a></li>
				 <li><a href="{% url 'team:insti' %}">INSTITUTIONAL</a></li>
				 <li><a href="{% url 'home:index' %}">FIXTURES</a></li>
				 <li><a href="{% url 'matches:index' %}">RESULTS</a></li>
				 <li class="active"><a href="{% url 'home:index' %}l">BROADCAST</a></li>
				 <li><a href="{% url 'team:contact' %}">CONTACT US</a></li>
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //footer -->
</body>


